html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    color: rgb(81, 40, 13);
    background-color: rgb(249, 246, 242);
    line-height: 1.5;
    box-sizing: border-box;
}

.header-section {
    background: url("task1-images/beach.jpg") no-repeat center/cover;
    height: 70vh;
    color: #7e4e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.header-section h1 {
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header-section p {
    margin-bottom: 20px;
    font-size: 1.01rem;
    max-width: 600px;
}

.header-section button {
    padding: 8px 20px;
    border: 1px solid #7e4e2e;
    background: transparent;
    color: #7e4e2e;
    cursor: pointer;
    font-size: 1rem;
}

.content-section {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.first-bar {
    background-color: #a5693f;
    color: white;
    padding: 15px;
}

.second-bar {
    background-color: #f9f6f2;
    color: #7e4e2e;
    padding: 15px;
}

.third-bar {
    display: flex;
    gap: 15px;
}

.col {
    flex: 0.5;
    font-size: 0.9rem;
    line-height: 1.2;
}